.profile {
    background-color: #fff;
    min-height: 100vh;
    padding: 40px 60px;

    @media (max-width: 1200px) {
        padding: 40px 30px;
    }

    @media (max-width: 768px) {
        padding: 40px 20px;
    }
    

    &-wrapper {
        min-height: 100vh;
    }

    &-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &-password {
            font-size: 18px;
            font-weight: 500;
            color: #5C5C5C;
            transition: all 0.05s linear;

            @media (max-width: 1200px) {
                font-size: 16px;
            }
        
            @media (max-width: 768px) {
                font-size: 14px;
            }

            &:hover {
                text-decoration: underline;
                opacity: 0.75;
            }
        }

        &-exit {
            background-color: rgb(248, 81, 81);
            padding: 8px 11px;
            outline: 0;
            border: 0;
            color: #fff;
            font-weight: 500;
            font-size: 16px;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.15s linear;

            &:hover {
                background-color: rgb(255, 132, 132);
            }
        }
    }
    
    &-inner {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-img {
        height: 70px;
        width: 70px;
        margin-bottom: 30px;

        @media (max-width: 576px) {
            height: 55px;
            width: 55px;
            margin-bottom: 10px;
        }

        img {
            display: block;
            height: 100%;
            width: 100%;
        }
    }

    &-empty-title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;

        @media (max-width: 576px) {
            font-size: 16px;
        }
    }

    &-empty-descr {
        font-size: 16px;
        opacity: 0.4;
        margin-bottom: 70px;

        @media (max-width: 576px) {
            font-size: 12px;
            margin-bottom: 30px;
        }
    }

    &-title {
        font-size: 32px;
        font-weight: 700;
        display: flex;
        gap: 21px;
        margin: 40px 0;

        a {
            height: 35px;
            width: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #F2F2F2;
            border-radius: 8px;
            cursor: pointer;

        }
    }

    &-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}