.filter {
    position: relative;

    &.active {
        background-color: #5C5C5C;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    svg {
        transition: all 0.15s linear;
        transform: rotate(0deg);
    }

    svg.active {
        transform: rotate(180deg);
    }
    
    &-active {
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;
        transition: all 0.15s linear;
        user-select: none;
        border-bottom: 1px solid #fff;

        @media (max-width: 768px) {
            font-size: 14px;
        }
        
        @media (max-width: 576px) {
           font-size: 11px;
        }
        

        &:hover {
            text-decoration: underline;
        }

        &.active {
            padding: 10px 10px 5px;
            color: #fff;
        }
    }

    &-list {
        display: none;
        flex-direction: column;
        padding: 5px 10px 10px;
        gap: 8px;
        background-color: #fff;
        width: 100%;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        

        &.active {
            position: absolute;
            display: flex;
            background-color: #5C5C5C;
        }

        &-item {
            cursor: pointer;
            font-weight: 500;
            font-size: 15px;
            color: #fff;
            padding-left: 5px;
            user-select: none;

            &:hover {
                opacity: 0.75;
                text-decoration: underline;
            }
        }
    }
}