.slider {
    background-color: #fff;
    padding: 45px 60px 37px 60px;
    height: 484px;
    overflow: hidden;

    @media (max-width: 1200px) {
        height: 434px;
        padding: 35px 30px 27px 30px;
    }

    @media (max-width: 992px) {
        height: 334px;
    }

    @media (max-width: 768px) {
        height: 284px;
        padding: 20px 20px 40px;
    }

    @media (max-width: 668px) {
        height: 234px;
    }

    @media (max-width: 576px) {
        height: 200px;
    }

    @media (max-width: 444px) {
        height: 165px;
    }

    &-item {
        height: 400px;

        @media (max-width: 1200px) {
            height: 350px;
        }
        @media (max-width: 992px) {
            height: 250px;
        }
        @media (max-width: 668px) {
            height: 200px;
        }
        @media (max-width: 576px) {
            height: 166px;
        }
        @media (max-width: 444px) {
            height: 131px;
        }

        img {
            display: block;
            height: 101%;
            width: 100%;
        }
    }

    
}

.slick-list {
    border-radius: 20px;
}

.slick-slider {
    position: relative;
    overflow: visible;
    button {
        height: 36px;
        width: 36px;
        border-radius: 50%;
        background-color: #fff;
        border: 0;
        display: flex;
        align-items: center;
        box-shadow: 0 10px 10px #0000000A;
        cursor: pointer;

        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.1s linear;

        &:hover {
            opacity: 0.75;
        }
    }

    .slider-next-arrow button {
        right: -18px;

        @media (max-width: 768px) {
            display: none;
        }
    }
    .slider-prev-arrow button {
        left: -18px;

        @media (max-width: 768px) {
            display: none;
        }
    }
}
 